body {
  font-family: sans-serif;
}

main {
  margin: 32px auto;
  max-width: 512px;
}

form {
  text-align: center;
  button {
    font-size: inherit;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  width: 50%;
}

th {
  text-align: right;
}

td {
  text-align: left;
}

footer {
  text-align: center;
}

.section {
  margin: 16px 0;
}
