body {
  display: grid;
  font-family: system-ui, sans-serif;
  gap: 2em;
  place-items: center;
}

main {
  display: grid;
  gap: 1em;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 0.64em;
  width: 50%;
}

th {
  text-align: right;
}

td {
  text-align: left;
}
